.seleceursContainer {
  height: 100vh;
  background-color: cornsilk;
}

.selectorContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border: solid 2px black;
  border-radius: 2px;
  padding: 10px;
}

.selector1 {
  width: 150px;
  height: 150px;
  background-color: orange;
  margin: 10px;
  border: solid 2px black;
  cursor: help;
}
.selected1 {
  width: 150px;
  height: 150px;
  background-color: green;
  border: solid 2px red;
  margin: 10px;
}

.selector2 {
  width: 150px;
  height: 150px;
  background-color: orange;
  margin: 10px;
  border: solid 2px black;
  cursor: help;
  border-radius: 75px;
}

.imgselector {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: solid 2px red;
  margin: 10px;
  border-radius: 75px;
  animation: appear 1s;
}

@keyframes appear {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1) rotate(1800deg);
  }
}
